h1 {
  color: #00f;
}

h2 {
  color: #50000f;
  font-style: italic;
  text-align: center;
}

h3{
  font-weight: lighter;
}

p {
  font-family: sans-serif;
}

ul{
  font-size: 20px;
  line-height: 30px;
  font-style: bold;
}
